<nav class="nav-menu">
  <button mat-button
          #matButtonHome
          (click)="setAnimationIcon(matButtonHome, faIconMenu, 'beat-fade')">
    <fa-icon #faIconMenu
             [icon]="['fas', 'home']"
             size="xl"></fa-icon>
    Home
  </button>
  <button mat-button
          #matButtonPlay
          (click)="setAnimationIcon(matButtonPlay, faIconPlay, 'bounce')">
    <fa-icon #faIconPlay
             [icon]="['fas', 'bomb']"
             size="xl"></fa-icon>
    Play
  </button>
  <button mat-button
          #matButtonTree
          (click)="setAnimationIcon(matButtonTree, faIconTree, 'flip')">
    <fa-icon #faIconTree
             [icon]="['fas', 'share-nodes']"
             size="xl"></fa-icon>
    Nodes
  </button>
  <button mat-button
          #matButtonIssuer
          (click)="setAnimationIcon(matButtonIssuer, faIconIssuer, 'spin')">
    <fa-icon #faIconIssuer
             [icon]="['fas', 'gears']"
             size="xl"></fa-icon>
    Issuer
  </button>
</nav>
