<nav class="nav-menu">
  <app-button-menu animationType="beat-fade"
                   class="active"
                   [icon]="['fas', 'home']"
                   [routerLink]="['/home']"
                   routerLinkActive="active"
                   label="Home"></app-button-menu>
  <app-button-menu animationType="bounce"
                   [icon]="['fas', 'bomb']"
                   [routerLink]="['/minefield/play']"
                   routerLinkActive="active"
                   label="Play"></app-button-menu>
  <app-button-menu animationType="flip"
                   [icon]="['fas', 'sitemap']"
                   [routerLink]="['/minefield/tree']"
                   routerLinkActive="active"
                   label="Nodes"></app-button-menu>
  <app-button-menu animationType="spin"
                   [icon]="['fas', 'gears']"
                   [routerLink]="['/minefield/settings']"
                   routerLinkActive="active"
                   label="Settings"></app-button-menu>
</nav>
