<div class="card">
  <div class="cell"
       [class.active]="isAction"
       [class.start]="isStart && !isRevealed"
       [class]="isRevealed? 'revealed': 'undisclosed'">
    <fa-icon [icon]="isRevealed? icon: ['fas', 'question']"
             [animation]="isAnimation"
             size="xl"></fa-icon>
    <div class="cell-info cell-info-top">
      {{ content }}
    </div>
    <div class="cell-info cell-info-left">
      <span>
        <fa-icon [icon]="['fas', 'bomb']"
                 size="sm"></fa-icon>
        {{ mines }}
      </span>
      <span>
          <fa-icon [icon]="['fas', 'road-barrier']"
                   size="sm"></fa-icon>
        {{ blocks }}
      </span>
      <span>
          <fa-icon [icon]="['far', 'face-smile-wink']"
                   size="sm"></fa-icon>
        {{ hints }}
      </span>
    </div>
    <div class="cell-info cell-info-right">
      <fa-icon [icon]="['fas', 'location-dot']"
               size="sm"></fa-icon>
      <span>
          x: {{ row + 1 }}
        </span>
      <span>
          y: {{ col + 1 }}
        </span>
    </div>
  </div>
</div>
