<main>
  <section>
    <ng-container *ngTemplateOutlet="ngPlay"></ng-container>
  </section>
  <section>
    @if (isWinner && gamerOver) {
      <ng-container *ngTemplateOutlet="ngWinner"></ng-container>
    } @else if (gamerOver && !isWinner) {
      <ng-container *ngTemplateOutlet="ngLoser"></ng-container>
    }
  </section>
</main>

<ng-template #ngWinner>
  <div class="info-gamer">
    <h1>Fim de jogo!!!!</h1>
    <h2>WIIIIINER</h2>
  </div>
</ng-template>

<ng-template #ngLoser>
  <div class="info-gamer">
    <h1>Fim de jogo!!!!</h1>
    <h2>LOSEEER</h2>
  </div>
</ng-template>

<ng-template #ngPlay>
  <div class="grid-container"
       [class.gamer-over]="gamerOver">
    @for (row of board.grid; track row) {
      <div class="row">
        @for (col of row; track col) {
          <app-cell [col]="col.col"
                    [row]="col.row"
                    [mines]="col.cell_num_mines"
                    [blocks]="col.cell_num_block"
                    [hints]="col.cell_num_hints"
                    [action]="false"
                    [start]="col.isStart"
                    (cellClicked)="cellClicked($event)"
                    [content]="col.content"></app-cell>
        }
      </div>
    }
  </div>
  <div class="buttons">
    <button mat-raised-button
            (click)="resetBoard()"
            color="primary">Reset
    </button>
    <button mat-raised-button
            (click)="reStartBoard()"
            color="accent">Reiniciar
    </button>
  </div>
</ng-template>
