section
  height: 100%
  display: grid
  justify-content: center
  align-content: center

.grid-container
  display: grid
  justify-content: center
  align-content: center
  gap: 5px

.row
  display: flex
  gap: 5px

.col
  min-width: 5rem
  min-height: 5rem
  background: lightblue
  color: #4e4e4e
  border: 1px solid #ccc
  padding: 5px
  text-align: center
  cursor: pointer
  transition: all 500ms ease-in-out

  &:hover
    transform: scale(1.05)
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)
    z-index: 1






