<section>
  <!--  <i class="fa-regular fa-eye-slash"></i>-->
   <div class="grid-container">
    @for (row of rowsArray; track row; let rowIndex = $index) {
      <div class="row">
        @for (col of colsArray; track col; let colIndex = $index) {
          <app-cell [col]="col"
                    [row]="row"
                    [icon]="['fas', 'gift']"
                    [action]="false"
                    (cellClicked)="cellClicked($event)"
                    [content]="'free'"></app-cell>
          <!--                    [icon]="['far', 'eye-slash']"-->
        }
      </div>
    }
  </div>
</section>
